[Unit]
Description=Cliphist Image Watcher

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --type image --watch /usr/bin/cliphist store
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
